#!/bin/bash
file=/home/emmanuel/dbSH.txt
 >$file
echo "=============================== SERVER HEALTH CHECK DETAILS FOR {{inventory_hostname}} ===========================" >> $file

#echo "============================================The details is in KB =================================================" >> $file
echo "==================================================================================================================" >> $file
echo "---------------------- System uptime and CPU load average  -------------------------" >> $file
uptime >> $file
echo "==================================================================================================================" >> $file

echo "----------------------------- Memory utilization ----------------------------" >> $file

free -h >> $file

echo "==================================================================================================================" >> $file

echo "----------------------- Disk utilization -------------------- " >> $file
df -h >> $file
echo "==================================================================================================================" >> $file


echo "------------------------------ MySQL DB instance status ------------------------------" >> $file
ps -ef | grep -i mysqld >> $file
echo "==================================================================================================================" >> $file


echo "------------------------------ MySQL DB status ------------------------------" >> $file
mysql -u root -p'{{password }}' -e 'status' >> $file
echo "==================================================================================================================" >> $file


echo "------------------------------ MySQL databases ------------------------------" >> $file
mysql -u root -p'{{password }}' -e 'show databases' >> $file
echo "==================================================================================================================" >> $file

echo "------------------------------ MySQL DB process list ------------------------------" >> $file
mysql -u root -p'{{password }}' -e 'show processlist' >> $file
echo "==================================================================================================================" >> $file
